<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0,0.6) 0%, rgba(0, 0, 0,0.9) 100%), url('https://images.unsplash.com/photo-1498038432885-c6f3f1b912ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8039fcdf672e95857084963e203fd44&auto=format&fit=crop&w=1350&q=80');">
  <div class="banner-content">
    <h1>WELOME TO YOUR METAL HOME</h1>
    <p>Book unique metal homes and experience a city like a metal local.</p>
    <form action="" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Where?">
      <input type="text" class="form-control input-lg" placeholder="When?">
      <select name="" id="" class="form-control input-lg">
         <option value="1">1 guest</option>
         <option value="2">2 guests</option>
         <option value="3">3 guests</option>
       </select>
       <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>
</div>
